<!doctype html>
<html lang="en">
  <head>
    <title>Login Page for Inventory Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login page for inventory manager">
    <link rel="preconnect" href="fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    
    <!-- get rid of favicon error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body style="background-color: black; color: white">
    <h1>Github Login</h1>
    <form action="/auth/github">
      <button type="submit">Login with GitHub</button>
    </form>
  </body>
</html>




